{% extends 'base.html' %}

{% block title %}Kategoriyalar{% endblock %}

{% block content %}
    <h1 class="mb-4">Kategoriyalar</h1>
    <a href="#" class="btn btn-primary mb-3">Yangi Kategoriya Yaratish</a> <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nomi</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Kategoriyalar mavjud emas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}